.form-control, .thumbnail {
    border-radius: 2px;
}
.btn-danger {
    background-color: #B73333;
}

/* File Upload */
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload #visitorlogo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img-preview {
    width: 198px;
    height: 198px;
}

.visitorlogo-id {
    width: 138px;
    height: 138px;
}


.idcard p {
    line-height:20px;
    margin: 0px;
    font-size: 12px;
}


.idcard .textname{
    font-size: 15px;
}
.idcard .cardimg{
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 1px solid black
}

.count p {
    line-height:20px;
    margin: 0px;
    font-size: 12px;
    color: #ffffff;
}
.count h3 {
    line-height:20px;
    margin: 0px;
    color: #ffffff;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}







.cardss {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cardss .cardss-heading {
    padding: 0 20px;
    margin: 0;
}

.cardss .cardss-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.cardss .cardss-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.cardss .cardss-heading.image .cardss-heading-header {
    display: inline-block;
    vertical-align: top;
}

.cardss .cardss-heading.image .cardss-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.cardss .cardss-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.cardss .cardss-body {
    padding: 0 20px;
    margin-top: 20px;
}

.cardss .cardss-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.cardss .cardss-media img {
    max-width: 100%;
    max-height: 100%;
}

.cardss .cardss-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.cardss .cardss-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.cardss .cardss-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.cardss .cardss-comments .comments-collapse-toggle a,
.cardss .cardss-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cardss-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.cardss.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.cardss.people:first-child {
    margin-left: 0;
}

.cardss.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.cardss.people .card-top.green {
    background-color: #53a93f;
}

.cardss.people .card-top.blue {
    background-color: #427fed;
}

.cardss.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cardss.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.cardss.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.cardss.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cardss.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.cardss.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.cardss.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.cardss.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.cardss.hovercard .info {
    padding: 4px 8px 10px;
}

.cardss.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.cardss.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.cardss.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.cardss .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.strp{
    margin: 10px;
}

.imgcard{
    width: 330px;
    border: 1px solid #4e555b;
}

.textname{
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
}

.cardimg img{
    width: 125px;
    height: 124px;
    border-radius: 50%;
    margin: 18px;
}


.table>tbody>tr>td{vertical-align: middle; text-align: center; }
.table td, .table th { padding: 5px !important; font-size: 13px;}

.menu-head {
    border-bottom: 1px dashed #dae1e7;
}
#controllers li.menu-head:first-child, #methods li.folder:first-child {
    margin-top: -28px!important;
}
a {
    color: #18bc9c !important;
    text-decoration: none;
}
body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px;
}
li > span.name {
    color: #999;
    font-size: .8em;
}
.border-right-dashed {
    border-right: 1px dashed #999999 !important;
}
.nav>li.active>a, .nav>li.active>a:hover, .nav>li.active>a:focus {
    color: #ffffff !important;
    background-color: #2c3e50;
    padding-left: 10px;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.nav>li>a {
    border-radius: 4px;
}
.has-error > input {
    border: 1px solid #b91d19 !important;
}
.has-error {
    color: #b91d19 !important;
}
.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
}